/* *******************************
Header
********************************** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
    height: 13.3rem;
}

.logo {
    height: 5.4rem;
}

/* ******************************
Navigation
****************************** */
.btn-mobile-nav {
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    display: none;
}
.icon-mobile-nav {
    height: 4.1rem;
    width: 4.1rem;
    color: #8a94a6;
}
.icon-mobile-nav[name="close-outline"] {
    display: none;
}
.main-nav-link {
    margin-right: 1.5rem;
    color: #8a94a6;
}
.main-nav {
    display: flex;
}
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
    color: #377dff;
}

.btn-nav {
    font-weight: 600;
    font-size: 2rem;
    padding: 1.6rem 2.3rem;
    border-radius: 10px;
    color: #fff;
    background-color: #377dff;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.btn-nav:hover {
    background-color: #2758b3;
    color: #fff;
}

.chevron-down {
    display: inline-block;
    width: 1.2rem;
    height: 1rem;
    margin-right: 2.85rem;
}

/* ******************************
Hero Section
******************************* */

.section-hero {
    padding: 10.8rem 0;
}

.section-hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-picture {
    display: flex;
    justify-content: end;
}

.hero-img {
    width: 60.4rem;
    height: 61.6rem;
    border-radius: 15px;
}

.heading-primary {
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.3rem;
    color: #323b4b;
    margin-bottom: 3.37rem;
}

.heading-describtion {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: #8a94a6;
    margin-bottom: 3.56rem;
}

.header-link {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #377dff;
    text-decoration: none;
}

/* ******************************
Offer Section
******************************* */

.section-offer {
    background-color: #fafbfc;
    padding-top: 10.8rem;
    /* max-width: 144rem; */
    margin: 0 auto;
    height: 109.9rem;
}

.offer-text-box {
    text-align: center;
}

.heading-describtion {
    margin-bottom: 4.3rem;
}

.offer-icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2.936rem;
}

.offer {
    width: 60.4rem;
    height: 28.5rem;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
    background-color: #ffffff;
    padding: 3.2rem 0 0 3.1rem;
}

.offer-title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: #323b4b;
    margin-bottom: 2.13rem;
}

.offer-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #8a94a6;
}

/* ******************************
Dream-job Section
******************************* */
.section-dream-job {
    display: flex;
    gap: 15rem;
    max-width: 144rem;
    height: 90rem;
}

.job-img {
    width: 60.4rem;
    height: 61.6rem;
    border-radius: 15px;
}

.dream-job-text {
    padding-top: 26.96rem;
}

.dream-job-img {
    padding-top: 13.5rem !important;
}

/* ******************************
Vacancy Section
******************************* */

.vacancy-section {
    padding: 10.8rem 0;
    background-color: #fafbfc;
}

.vacancy-section .heading-primary,
.vacancy-section .heading-describtion {
    margin: 0 auto;
    text-align: center;
    width: 77rem;
}
.vacancy-section .heading-primary {
    margin-bottom: 3.5rem;
}

.vacancy-section .heading-describtion {
    margin-bottom: 7.7rem;
}

.vacancies-header {
    display: grid;
    grid-template-columns: 42.4rem 24.4rem 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    width: 88rem;
    margin-bottom: 2rem;
}

.vacancy-header-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #323b4b;
}

.vacancy {
    height: 11.5rem;
    width: 88rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 42.4rem 24.4rem 1fr;
    align-items: center;
    background-color: #fff;
    border-radius: 1.5rem;
}

.vacancy {
    margin-bottom: 2.5rem;
}
.btn-margin {
    margin-bottom: 9rem;
}
.vacancy-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #323b4b;
}

.vacancy-department,
.vacancy-location {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}

.btn {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #377dff;
    background-color: #e5f1ff;
    border-radius: 10px;
    padding: 0 10.3rem;
    height: 6.6rem;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: #377dff;
    color: #e5f1ff;
}

/* *************************
**********FOOTER***********
************************* */
.footer {
    padding: 13.2rem 0 0 10rem;
    max-width: 144rem;
    margin: auto;
    height: 66rem;
}
.footer__content {
    display: flex;
    gap: 7rem;
}

.company__brand {
    flex: 0 0 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
    margin-right: 14rem;
}

.company__logo {
    height: 4rem;
    width: auto;
}

.company__brand > p,
.company__legal > p {
    font-size: 2rem;
    font-weight: 1.8rem;
    line-height: 3.2rem;
    color: #8a94a6;
}

.company__socials {
    display: flex;
    gap: 6rem;
}
.social-icon {
    width: 2.8rem;
    height: 2.8rem;
    color: #b0b7c3;
}
.company__links ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.company__links {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.company__links li {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    list-style: none;
}

.company__links h6 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #323b4b;
}
.nav__link {
    text-decoration: none;
    color: #8a94a6;
}

.copyright {
    padding-top: 9.6rem;
}
